<div data-role="view" id="signupForm" data-transition="overlay:up" data-title="Login 1/4" data-model="app.signupService.viewModel">
    <div data-role="header">
        <div data-role="navbar" class="signup_nvbar">
            <a data-role="backbutton" data-align="left" class="signup_a">Back</a>
            <span data-role="view-title" class="signup_span"></span>
            <a data-role="button" data-align="right" data-bind="click:check" class="signup_a">Next</a>
        </div>
    </div>
    
    <h2>Please Enter a Valid Email Address</h2>
       <div class="signupDV">
           <p>
               <input type="email" name="email" id="email" class="txtbox" data-bind="email" placeholder="Email Address"/>
           </p>
       </div>
    <a data-role="button" >Click Me</a>
</div>