<div data-role="view" id="signupForm" data-transition="overlay:up" data-title="Login 1/4" data-model="app.signupService.viewModel" data-show="app.signupService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="signup_nvbar">
            <a data-role="button" data-align="left" id="cancel" data-bind="click:cancelRegisteraionValue" class="signup_a">Cancel</a>
            <span data-role="view-title" class="signup_span"></span>
            <a data-role="button" data-align="right" data-bind="click:ProcessToNavigate1" id="ProcessToNavigate1" class="signup_a">Next</a>
        </div>
    </div>
    
   <div data-role="content">
       <h2>Please Enter a Valid Email Address</h2>
       <div class="signupDV">
           <p>
               <input type="email" name="email" id="email" data-bind="value:email" class="txtbox" placeholder="Email Address"/>
           </p>
           <p>
               <input type="password" name="rpassword" id="rpassword" data-bind="value:rpassword" class="txtbox" placeholder="Password"/>
           </p>
       </div>
       
       <div class="myLogo"></div>
   </div>
</div>


<!--signupForm2-->

<div data-role="view" id="signupForm2" data-transition="fade" data-title="Login 2/4" data-model="app.signupService.viewModel">
    <div data-role="header">
        <div data-role="navbar" class="signup_nvbar">
            <a data-role="backbutton" data-align="left" class="signup_a">Back</a>
            <span data-role="view-title" class="signup_span"></span>
            <a data-role="button" data-align="right" data-bind="click:ProcessToNavigate2" class="signup_a">Next</a>
        </div>
    </div>
    
   <div data-role="content" id="signupForm2_Content">
       <h2>Your photo,name and age</h2>
       
       <div class="signupDV">
            <div class="loadImg">
                <img src="style/image/Close-2-icon.png" class="cancel" data-bind="click:cancelImage" id="cancelImg"/>
                <img src="" id="userImg"/>
                <a href="#photoUpload" id="photoBtn" data-rel="actionsheet" data-role="button"></a>
            </div>
           <p>
               <input type="text" name="name" id="name" data-bind="value:name" class="txtbox" placeholder="Enter new user name"/>
           </p>
           <div style="width: 320px; text-align: center;">
               <div id="calendar"></div>
           </div>
       </div>
   </div>
    <ul data-role="actionsheet" id="photoUpload" data-cancel="Close">
        <li><a href="#"  data-action="takePhoto">Take Photo</a></li>
        <li><a href="#"  data-action="uploadPhoto">Upload Photo</a></li>
    </ul>
</div>

<script>
    function uploadPhoto(e){
       app.signupService.viewModel.getExistingImage();
    }
    
    function takePhoto(e){
        app.signupService.viewModel.takeCapturePhoto();
    }
</script>


<!--signupForm3-->

<div data-role="view" id="signupForm3" data-transition="fade" data-title="Login 3/4" data-model="app.signupService.viewModel" data-show="app.signupService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="signup_nvbar">
            <a data-role="backbutton" data-align="left" class="signup_a">Back</a>
            <span data-role="view-title" class="signup_span"></span>
            <a data-role="button" data-align="right" data-bind="click:ProcessToNavigate3" class="signup_a">Next</a>
        </div>
    </div>
    
   <div data-role="content">
       
       <div style="display:block">
            <h2>I am</h2>

            <!--<div class="signupDV">
                <div class="loadImg"></div>
                <p>
                    <input type="radio" name="gender" id="gender" value="Male"/><label>Male</label>
                    <input id="gender1" type="radio" name="gender" value="Male"><label for="radio1"><span><span></span></span>Male</label>
                </p>
                <p>
                    <input type="radio" name="gender" id="gender" value="Female"/><label>Female</label>
                    <input id="gender2" type="radio" name="gender" value="Female"><label for="radio1"><span><span></span></span>Female</label>
                </p>
            </div>-->
           
            <div class="example signupDV">
                <div class="loadImg"></div>
                <p>
                    <input id="gender1" type="radio" name="gender" data-bind="checked:gender" value="Male"><label for="Male"><span><span></span></span>&nbsp;&nbsp;&nbsp;Male</label>
                </p>

                <p>
                    <input id="gender2" type="radio" name="gender" data-bind="checked:gender" value="Female"><label for="Female"><span><span></span></span>&nbsp;&nbsp;&nbsp;Female</label>
                </p>
            </div>
       </div>
       
        <div style="display:block;margin-top:15px;">
            <h2>I like</h2>
            <div class="example signupDV2">
                <p>
                    <!--<input type="radio" name="interest" id="interest" value="Men"/><label>Men</label>-->
                     <input id="interest" type="radio" name="interest" data-bind="checked:interest" value="Men"><label for="Men"><span><span></span></span>&nbsp;&nbsp;&nbsp;Men</label>
                </p>
                <p>
                    <!--<input type="radio" name="interest" id="interest" value="Women"/><label>Women</label>-->
                    <input id="interest" type="radio" name="interest" data-bind="checked:interest" value="Women"><label for="Women"><span><span></span></span>&nbsp;&nbsp;&nbsp;Women</label>
                </p>
                <p>
                   <!--<input type="radio" name="interest" id="interest" value="Both"/><label>Both</label>-->
                    <input id="interest" type="radio" name="interest" data-bind="checked:interest" value="Both"><label for="Both"><span><span></span></span>&nbsp;&nbsp;&nbsp;Both</label>
                </p>
            </div>
        </div>
   </div>
</div>



<!--signupForm4-->

<div data-role="view" id="signupForm4" data-transition="fade" data-title="Login 4/4" data-model="app.signupService.viewModel" data-show="app.signupService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="signup_nvbar">
            <a data-role="backbutton" data-align="left" class="signup_a">Back</a>
            <span data-role="view-title" class="signup_span"></span>
        </div>
    </div>
    
   <div data-role="content">
       
       <div style="display:block">
            <h2>Flirting Interests</h2>

            <div class="signupDV2">
                <p>
                    <!--<input type="radio" name="gender" id="gender" value="Male"/><label>Nice Conversations</label>-->
                    <input id="choice" type="radio" name="choice" data-bind="checked:choice" value="Nice_Conversations"><label for="Men"><span><span></span></span>&nbsp;&nbsp;&nbsp;Nice Conversations</label>
                </p>
                <p>
                    <!--<input type="radio" name="gender" id="gender" value="Female"/><label>Meet new people</label>-->
                    <input id="choice" type="radio" name="choice" data-bind="checked:choice" value="Meet_new_people"><label for="Meet_new_people"><span><span></span></span>&nbsp;&nbsp;&nbsp;Meet new people</label>
                </p>
                <p>
                   <!-- <input type="radio" name="interest" id="interest" value="Men"/><label>Flirt and Date</label>-->
                    <input id="choice" type="radio" name="choice" data-bind="checked:choice" value="Flirt_and_Date"><label for="Flirt_and_Date"><span><span></span></span>&nbsp;&nbsp;&nbsp;Flirt and Date</label>
                </p>
                <p>
                    By completing the registration process, I accept the
                    <a data-role="button" data-bind="click:navigateToTerms" style="">General Terms and Conditions of Use.</a>
                </p>
                <p>
                    <a data-role="button" data-bind="click:signupFormRegister">Register</a>
                </p>
            </div>
       </div>
   </div>
</div>