<div data-role="view" id="terms" data-layout="terms_layout" data-title="Terms and Condition" data-transition="zoom" data-use-native-scrolling="true">
    <div data-role="content">
        <div class="content">
                <h5>General Terms and Conditions of LOVOO</h5>
                <h3>Preamble</h3>
                <p>
                    The following General Terms and Conditions govern the contractual relationship between LOVOO GmbH, Prager Straße 10, 01069 Dresden, Germany, registered in the Commercial Register of the Local Court of Dresden under HRB 31175 (hereinafter referred to as “LOVOO”) and the users of LOVOO services, and define the conditions under which use of LOVOO services occurs. 
                </p>
                <p>
                    By registration at LOVOO e.g. at http://www.lovoo.com (hereinafter referred to as "Website") and all domains referring to it, such as mobile apps for IOS and Android devices (hereinafter referred to as “mobile apps”), the user accepts the below-mentioned Terms and Conditions. If the user does not accept the Terms and Conditions, registration must be withdrawn. These General Terms and Conditions are valid for all websites and mobile apps of the operator LOVOO.
                </p>
               
                <h3>1. Validity</h3>
                <p>
                    The here mentioned Terms and Conditions are regulations under which the use of the LOVOO website and the mobile applications of the LOVOO GmbH occurs. The Terms and Conditions also apply if the service is used outside the Federal Republic of Germany. By registration with the operator, the user acknowledges to have read and understood the Terms and Conditions and to have accepted them. Differing regulations and specific user conditions which contradict the Terms and Conditions require written consent of the operator. 
                </p>
                
                <h3>2. Services</h3>
                <p>
                     LOVOO operates an online Social Network Community and offers the user access to a database through which users can get to know each other to develop partnerships and friendships. The database can be reached via http://www.lovoo.com (acting as general webpage for all linking domains) as well as through the mobile applications of the iOS and Android-based devices and also other possible devices in future.<br>This database contains profiles, pictures and information about other users. Registered users can view the profiles and information of other users and contact them.
                </p>
                <p>
                    LOVOO is offered exclusively for private purposes. Commercial use is not included in the services provided and strictly forbidden. Commercial profiles are identified clearly and carry the names of their respective owners.
                </p>
                <p>
                    The operator is authorized to entrust third-party service providers and agents with the provision of parts or the whole range of services.
                </p>
                <h3>3. Completion of contract, Start of contract, Prices</h3>
                <p>
                    The contract between LOVOO and the user comes into effect at the time of registration by the user on the LOVOO webpage or through the mobile applications. <br>
                    The user can register for free by filling out the registration form. Alternatively, the user can register using the Connect functions of third party providers (e.g. Facebook Connect). On this occasion, selected data from the respective user profile is stored in the LOVOO data base. When registering via the Connect functions, the user states his acceptance of the respective conditions of the third party providers and consents that certain information is being stored in the LOVOO data base. <br>
                    The use of the service in its basic features is free. The user can acquire various additional features (“premium features”), which are subject to charge. The respective prices are shown to the user clearly on the LOVOO webpage and in the mobile apps. LOVOO reserves the right to change these prices at unspecified times.
                </p>
                <h3>4. Cancellation policy</h3>
                <p>
                    Any user, situated in any country in the European Union has the right to cancel their LOVOO paid subscriptions as well as their credit purchases. The following cancellation policy applies:Notice of cancellation rights Right of cancellation You have the right to cancel this contract within 14 days without giving reason. The cancellation period is fourteen days after the date of contract conclusion.<br> To exercise your right of cancellation, you must inform LOVOO GmbH, Prager Str. 10, 01069 Dresden, Germany; E-Mail: support@lovoo.com of your decision to cancel this contract by means of a clear statement to this effect (e.g. a letter sent by post, fax or e-mail). You may use the enclosed cancellation form for this, though it is not obligatory.
                </p>
        </div>
    </div>    
</div>

<div data-role="layout" data-id="terms_layout">
    <div data-role="header">
        <div data-role="navbar" class="terms_nvbar">
            <a data-role="backbutton" data-align="left" class="terms_a">Back</a>
            <span data-role="view-title" class="terms_span"></span>
        </div>
    </div>
</div>