body {
}


.k-calendar .k-header{background: #3F51B5;}
.k-calendar .k-link.k-nav-fast {color: #FFFFFF;}
.k-state-focused.k-state-selected, .k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {-webkit-box-shadow: inset 0 0 3px 4px #3F51B5;box-shadow: inset 0 0 3px 4px #3F51B5;}
.k-state-selected{background-color:#3F51B5}
.k-button, .k-calendar .k-header .k-link,.k-calendar .k-footer .k-link{text-transform:uppercase}
.k-calendar .k-footer .k-nav-today{color:#3F51B5}

#loadpage #content_loadpage #loadingPregressBar { width:200px;height:2px;margin:0px auto;position:absolute;top:475px;left:15px;right:15px;}
#loadpage .km-content{background-image:url('../style/image/L4.jpg');background-repeat: no-repeat;background-size: 100% 100%;opacity:0.6;filter: alpha(opacity=60);}
.pp1{height:420px;background-image:url('../style/image/L1.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.pp2{height:420px;background-image:url('../style/image/img.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.pp3{height:420px;background-image:url('../style/image/L3.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.pp4{height:420px;background-image:url('../style/image/L5.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.pp5{height:420px;background-image:url('../style/image/L2.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.pp6{height:420px;background-image:url('../style/image/group.jpg');background-repeat: no-repeat;background-size: 100% 100%;}

/*LOGIN*/
#login .km-content{background-color:#FFFFFF}
.login_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
.login_nvbar .login_a{color:white}
.login_nvbar .login_span{color:white}
.loginMainDV{width:100%;height:auto}
#loginDV1{ width:100%;height:auto;margin-top:30px;margin-bottom:10px;display:block}
#loginDV1 .txtbox{ width:100%;height:32px;border:1px solid #ccc;padding-left:7px;}
#loginDV1 .btn{width:120px;float:right;height:38px;line-height:22px;background-color:#85C643;color:#FFF}
#loginDV1 .Fbtn{background-color:#FFFFFF !important;color:#EF84C5;font-style:italic;border:0px solid;line-height:30px;margin-left:0px;font-size:14px;}
#loginDV2{width:100%;margin:0px auto;margin-top:10px;display:block}
#loginDV2 hr:nth-child(1){width:46%;float:left;border:1px solid #E7E5E5}
#loginDV2 hr:nth-child(3){width:46%;float:right;border:1px solid #E7E5E5}
#loginDV2 span{color:#E7E5E5}
#loginDV3{width:95%;height:100px;margin:0px auto;margin-top:15px;}
#loginDV3 .btn{width:70px;height:42px;line-height:22px;}
#loginDV3 .btn:nth-child(1){margin-left:15px;}
#loginDV3 .btn:nth-child(2){margin-left:11px;}
#loginDV3 .btn:nth-child(3){margin-left:11px;}



/*REGISTER*/
#register .km-content{background-color:#FFFFFF}
.register_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
.register_nvbar .register_a{color:white}
.register_nvbar .register_span{color:white}
.registerMainDV{width:100%;height:auto}
.registerMainDV #registerDV1{width:100%;height:auto;background-color:#DEDCDC;border:1px solid #ccc;line-height:25px;font-size:18px;color:#807F7F}
#registerDV1 p{margin-left:25px;}
#register .footerClass{background-color:#DEDCDC;height:50px;}
#register .footerClass a{margin:18px 0px 0px 35px;font-weight:bold;background-color:#DEDCDC !important;color:#EF84C5;font-style:italic;border:0px solid;line-height:0px;margin-left:30px;font-size:14px;}
.registerMainDV #registerDV2{width:100%;height:auto;margin-top:15px;}
#registerDV2 .fbregister{width:90%;height:45px;margin:0px auto;margin-top:12px;}
#registerDV2 .twtregister{width:90%;height:45px;margin:0px auto;background:yellow;margin-top:12px;}
#registerDV2 .gplusregister{width:90%;height:45px;margin:0px auto;background:green;margin-top:12px;}
#registerDV2 .txtcontent{width:100%;height:50px;}
.txtcontent p{font-size:13px;text-align:center}
#registerDV2 .emailregister{width:90%;height:45px;margin:0px auto;background:#85C643;margin-top:12px;}
#registerDV2 .emailregister span{line-height: 42px;margin-left: 57px;;color:white}

/*FORGOT*/
#forgot .km-content{background-color:#FFFFFF}
#forgot .forgot_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
#forgot .forgot_nvbar .forgot_a{color:white}
#forgot .forgot_nvbar .forgot_span{color:white;font-size:15px;}
#forgot .txtbox{ width:100%;height:32px;padding-left:7px;border:1px solid #ccc}
#forgot .btn{width:120px;height:38px;line-height:22px;background-color:#85C643;color:#FFF;}
#forgot p{margin-top:25px;}
/*#forgot p:nth-child(2) .btn:nth-child(1){margin-left:8px;}*/
#forgot p:nth-child(2) .btn:nth-child(2){margin-left:8px;}


/*terms*/
#terms .km-content{background-color:#FFFFFF}
.terms_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
.terms_nvbar .terms_a{color:white}
.terms_nvbar .terms_span{color:white;font-size:14px;}
#terms .content{width:97%;height:auto;margin:0px auto;text-align:justify;line-height:20px;font-size:14px;}


/*signup form*/
#signupForm .km-content{background-color:#DEDCDC}
#signupForm .signup_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
#signupForm .signup_nvbar .signup_a{color:white}
#signupForm .signup_nvbar .signup_span{color:white;font-size:15px;}
#signupForm .signupDV{width:100%;height:auto;margin:0px auto;margin-top:0px;}
#signupForm .signupDV .txtbox{width:100%;height:32px;border:1px solid #ccc;padding-left:7px;}
#signupForm .myLogo{width:50%;height:150px;margin:0px auto;margin-top:75px;background:url('../style/image/at.png')}

#signupForm2 .km-content{background-color:#DEDCDC}
#signupForm2 .signup_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
#signupForm2 .signup_nvbar .signup_a{color:white}
#signupForm2 .signup_nvbar .signup_span{color:white;font-size:15px;}
#signupForm2 .signupDV{width:100%;height:auto;margin:0px auto;margin-top:30px;}
#signupForm2 .signupDV p{margin-top:-10px;}
#signupForm2 .signupDV .txtbox{width:100%;height:32px;border:1px solid #ccc;padding-left:7px;margin-top:-7px}
#signupForm2 .signupDV .loadImg{width:70px;height:70px;float:right;margin-right:25px;margin-right: 16px;margin-top: -40px;margin-bottom:25px;}
#signupForm2 .signupDV .loadImg img{width:100%;height:100%;display:none;border:1px solid #ccc;box-shadow:0px 0px 8px -2px;}
#signupForm2 .signupDV .loadImg a{border:1px solid #ccc;box-shadow:0px 0px 8px -2px;background: url('../style/image/load.png');width: 100%;height: 100%;margin: -1px 0px 0px -1px;}


#signupForm3 .km-content{background-color:#DEDCDC}
#signupForm3 .signup_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
#signupForm3 .signup_nvbar .signup_a{color:white}
#signupForm3 .signup_nvbar .signup_span{color:white;font-size:15px;}
#signupForm3 .signupDV{width:100%;height:auto;margin:0px auto;margin-top:0px;}
#signupForm3 .signupDV p{width:66%;background-color:#FFF;height:40px;border: 1px solid #ccc;box-shadow: 1px 1px 3px -1px;}
#signupForm3 .signupDV p input{margin: 12px 0px 0px 11px;}
#signupForm3 .signupDV p label{margin-left:15px;}
#signupForm3 .signupDV .loadImg{width:75px;height:94px;float:right;margin-right:25px;margin-right: 7px;margin-top: -55px;margin-bottom:25px;background:url('../style/image/like.png')}

#signupForm3 .signupDV2 p{width:auto;background-color:#FFF;height:40px;border: 1px solid #ccc;box-shadow: 1px 1px 3px -1px;}
#signupForm3 .signupDV2 p input{margin: 12px 0px 0px 11px;}
#signupForm3 .signupDV2 p label{margin-left:15px;}


#signupForm4 .km-content{background-color:#DEDCDC}
#signupForm4 .signup_nvbar{background-color:#645860 !important;border-bottom:1px solid red !important}
#signupForm4 .signup_nvbar .signup_a{color:white}
#signupForm4 .signup_nvbar .signup_span{color:white;font-size:15px;}
#signupForm4 .signupDV2{width:100%;height:auto;margin:0px auto;margin-top:0px;}
#signupForm4 .signupDV2 p{width:auto;background-color:#FFF;height:40px;border: 1px solid #ccc;box-shadow: 1px 1px 3px -1px;}
#signupForm4 .signupDV2 p input{margin: 12px 0px 0px 11px;}
#signupForm4 .signupDV2 p label{margin-left:15px;}
#signupForm4 .signupDV2 p:nth-child(4){width:auto;background-color:#DEDCDC;height:40px;font-size: 12px;text-align: center;line-height: 15px;border: 0px solid #ccc;box-shadow: 0px 0px 0px 0px;}
#signupForm4 .signupDV2 p:nth-child(4) a{color:#EF84C5;border:0px solid;background-color:#DEDCDC}
#signupForm4 .signupDV2 p:nth-child(4) a:active{background-color:#DEDCDC}
#signupForm4 .signupDV2 p:nth-child(5){width:auto;background-color:#DEDCDC;height:auto;border: 0px solid #ccc;box-shadow: 0px 0px 0px 0px;}
#signupForm4 .signupDV2 p:nth-child(5) a{width:100%;height:40px;background:#85C643;line-height: 20px;color: #fff;}






body{
  margin      : 0;
  padding     : 1.5em;
  font-family : Georgia,Utopia,Charter,serif;
}

.example{
  margin-bottom : 1.5em;
}

input[type=radio   ]:not(old){
  opacity   : 0;
}




input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 20px;
  height           : 20px;
  margin-left      : -27px;
  background-image : linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}


input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 15px;
  height           : 15px;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

